@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


/* Nullify margins and padding */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
img,
figure,
figcaption,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
hgroup,
menu,
nav,
section,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

/* Nullify list styles */
ul,
ol {
  list-style: none;
}

/* Nullify anchors */
a {
  text-decoration: none;
}

/* Nullify text styling */
body {
  font-size: 100%;
  line-height: 1;
  font-family: Arial, sans-serif;
  background: none;
  color: black;
}

/* Nullify images */
img {
  border: 0;
}

/* Nullify form elements */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Nullify table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* And so on... */

/* General Settings */

html {
  font-size: 16px;
  /* This is usually the default */
}

body {
  font-family: "Inter", sans-serif;
}

@media (min-width: 1024px) {
  /* CSS rules */

  .top-wrapper {
    background-color: #262626;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-wrapper h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }

  .menu-wrapper {
    display: flex;
    padding-top: 25px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
  }

  .search-input {
    width: 100%;
    padding: 20px 20px 20px 15px;
    /* Add padding on the right for the button */
    border: 1px solid #fafafa;
    background-color: #fafafa;
    border-radius: 12px;
    outline: none;
    transition: border 0.2s;
    color: #262626;
    font-size: 1rem;
    font-weight: 400;

  }

  .search-input:focus {
    border-color: #2563EB;
    /* Highlight color when focused */
  }

  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #262626;
  }

  .search-btn:hover {
    color: #2563EB;
    /* Change icon color on hover */
  }

  .search-btn:focus {
    outline: none;
  }


  .contact-us {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    border-radius: 12px;
  }

  .contact-us>div:first-child>i {
    font-size: 2.25rem;
  }

  .contact-us>div:last-child>a>i {
    font-size: 1.2rem;
    color: #262626;
    padding: 5px;
    border-radius: 50%;
    font-weight: 900;
    transition: background-color 2500ms, color 2500ms;
    cursor: pointer;

  }

  .contact-us>div:last-child>a>i:hover {
    color: #fafafa;
    background-color: #262626;
    border-radius: 50%;
  }

  .contact-us>div>p {
    padding: 5px;
  }

  .contact-us>div>p:last-child {
    font-weight: 600;
  }

  .cart {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .cart>div>div>i {
    font-size: 2.25rem;
  }

  .car>div>p {
    padding: 5px;
  }

  .cart>div>p:last-child {
    font-weight: 600;
  }

  .cart>div:first-child {
    position: relative;
  }

  .cart>div>div:last-child {
    background-color: #2563EB;
    border: 1px solid #262626;
    border-radius: 50%;
    position: absolute;
    width: 16px;
    height: 16px;
    text-align: center;
    padding: 1px;
    top: 0;
    right: -25%;
    color: #fafafa;
  }

  .drop-down {
    display: none;
    position: absolute;
    padding: 20px;
    top: 50px;
    right: 50%;
    background-color: #fafafa;
    min-width: 250px;
    min-height: 10vh;
    ;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }

  #chevron {
    position: relative;
  }

  #chevron>.drop-down>div {
    padding: 5px;
    border-bottom: 0.006125rem dashed #d4d4d4;
  }

  #chevron>.drop-down>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #chevron>.drop-down>div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  #chevron>.drop-down>div>div>i { /* Access location pin*/
    font-size: 1.6rem;
    padding: 5px;
  }
  #chevron>.drop-down>div>div:last-child>p {
    font-size: 0.85rem;
    padding-bottom: 2px;
  }

  #chevron>.drop-down>div>div:last-child>p:last-child {

    font-weight: 600;
  }

  #chevron>.drop-down>div:last-child {
    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
  }

  #map {
    width: 100%;
    height: 200px;
}

}