@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');


/* Nullify margins and padding */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
dl,
dt,
dd,
img,
figure,
figcaption,
fieldset,
form,
label,
legend,
article,
aside,
footer,
header,
hgroup,
menu,
nav,
section,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}

/* Nullify list styles */
ul,
ol {
  list-style: none;
}

/* Nullify anchors */
a {
  text-decoration: none;
}

/* Nullify text styling */
body {
  font-size: 100%;
  line-height: 1;
  font-family: Arial, sans-serif;
  background: none;
  color: black;
}

/* Nullify images */
img {
  border: 0;
}

/* Nullify form elements */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Nullify table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* And so on... */

/* General Settings */

html {
  font-size: 16px;
  /* This is usually the default */
}

body {
  font-family: "Inter", sans-serif;
}

@media (min-width: 1024px) {
  /* CSS rules */

  .top-wrapper {
    background-color: #262626;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fafafa;
    padding: 5px;
  }

  .top-wrapper a {
    color: #fafafa;
  }

  .top-wrapper h1 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }

  .top-wrapper > div {
    display: flex;
    gap: 0.25rem;
    position: relative;
  }

  .top-wrapper > div:last-child > i {
    padding-left: 5px;
  }

  .top-wrapper .currencylist {
    background-color:#262626;
    display: block;
    width: 10vw;
    min-height: 50px;
    max-height: 200px;
    position: absolute;
    top:45px;
    right: 0;
    z-index: 10;
    border-radius: 5px;
    
  }
  
  .currencylist li {
    margin: 0.5rem 2.2rem;
  }
  .currencylist a {
    color: #fafafa;
    padding: 5px;
  }

  .currencylist a:hover {
    opacity: 0.75;
  }
  .menu-wrapper {
    display: flex;
    padding-top: 25px;
    height: 70px;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .logo>div>i {
    font-size: 2.5rem;
    color: #2563EB;
  }

  .logo>div>p {
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }

  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
  }

  .search-input {
    width: 100%;
    padding: 20px 20px 20px 15px;
    /* Add padding on the right for the button */
    border: 1px solid #fafafa;
    background-color: #fafafa;
    border-radius: 12px;
    outline: none;
    transition: border 0.2s;
    color: #262626;
    font-size: 1rem;
    font-weight: 400;

  }

  .search-input:focus {
    border-color: #2563EB;
    /* Highlight color when focused */
  }

  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 2rem;
    color: #262626;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;

  }

  .search-btn:hover {
    color: #2563EB;
    transform: scale(1.1);
    /* Change icon color on hover */
  }

  .search-btn:focus {
    outline: none;
  }


  .contact-us {
    display: flex;
    gap: 1rem;
    align-items: center;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    border-radius: 12px;
  }

  .contact-us>div:first-child>i {
    font-size: 2.25rem;
    padding-left: 20px;
  }

  .contact-us>div:last-child>a>i {
    font-size: 1.2rem;
    color: #262626;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
    font-weight: 900;
    transition: background-color 2500ms, color 2500ms, transform 0.5s;
    cursor: pointer;


  }

  .contact-us>div:last-child>a>i:hover {
    color: #fafafa;
    background-color: #262626;
    border-radius: 50%;


  }

  .contact-us>div>p {
    padding: 5px;

  }

  .contact-us>div>p:last-child>a {
    color: #262626;
    cursor: pointer;
  }

  .contact-us>div>p:last-child>a:hover {
    color: #d4d4d4;
  }

  .contact-us>div:last-child>a>i.rotated {
    transform: rotate(180deg);
  }


  .contact-us>div>p:last-child {
    font-weight: 600;
  }

  .cart {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .cart>div>div>i {
    font-size: 2.25rem;
    font-weight: 600;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  .cart>div>div>i:hover {
    transform: scale(1.1);
  }

  .car>div>p {
    padding: 5px;
  }

  .cart>div>p:last-child {
    font-weight: 600;
  }

  .cart>div:first-child {
    position: relative;
  }

  .cart>div>div:last-child {
    background-color: #2563EB;
    border: 1px solid #262626;
    border-radius: 50%;
    position: absolute;
    width: 16px;
    height: 16px;
    text-align: center;
    padding: 1px;
    top: 0;
    right: -25%;
    color: #fafafa;
  }

  .drop-down {
    display: none;
    position: absolute;
    padding: 20px;
    top: 50px;
    right: 50%;
    background-color: #fafafa;
    min-width: 250px;
    min-height: 10vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
  }

  #chevron {
    position: relative;
  }

  #chevron>.drop-down>div {
    padding: 5px;
    border-bottom: 0.006125rem dashed #d4d4d4;
  }

  #chevron>.drop-down>div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #chevron>.drop-down>div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  #chevron>.drop-down>div>div>i {
    /* Access location pin*/
    font-size: 1.6rem;
    padding: 5px;
  }

  #chevron>.drop-down>div>div:last-child>p {
    font-size: 0.85rem;
    padding-bottom: 2px;
  }

  #chevron>.drop-down>div>div:last-child>p:last-child {

    font-weight: 600;
  }

  #chevron>.drop-down>div:last-child {
    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
  }

  #map {
    width: 100%;
    height: 200px;
  }

  nav {
    background-color: #262626;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: end;
    color: #fafafa;
  }

  nav ul {
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    padding-bottom: 25px;
  }

  nav ul li a {
    color: #fafafa;
    font-weight: 600;
    font-size: 1.1rem;
  }

  nav>ul>li {
    position: relative;
  }

  nav>ul>li>a {
    position: relative;
    padding: 5px;
  }

  nav>ul>li>a:hover {
    border-top: 1px solid #fafafa;
  }

  nav>ul>li>a::before {
    transform: translateX(100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }

  nav>ul>li>a::after {
    transform: translateX(-100%);
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.5%;
    height: 2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  nav>ul>li>a:hover:before {
    transition: .1s transform linear, .1s height linear .1s;
    transform: translateX(0);
    height: 100%;
    border-color: #fafafa;
  }

  nav>ul>li>a:hover::after {
    transition: .1s transform linear .2s, .1s height linear .3s;
    transform: translateX(0);
    height: 100%;
    border-color: #fafafa;
  }

  nav>ul>li>ul {
    position: absolute;
    opacity: 0;
    background-color: #fafafa;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }

  nav ul li:hover ul {
    opacity: 1;
    pointer-events: auto;
  }

  nav ul li>ul>li {
    border-bottom: 0.006125rem solid #ededed;
    width: auto;
  }

  nav ul li>ul>li>a {
    color: #262626;
    font-size: 1rem;
    font-weight: 500;
  }

  nav ul li>ul>li>a::before {
    content: "+";
    font-weight: 900;
  }

  nav ul li>ul>li>a:hover::before {
    content: ">";

  }

  nav>ul>li:has(> ul)::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /* For solid icons */
    position: absolute;
    right: -40px;
    padding-right: 20px;
  }

  nav>ul>li>span {
    background-color: #dc2626;
    border: #dc2626;
    position: absolute;
    padding: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    top: -1.5rem;
    right: -1.75rem;
    border-radius: 0.5rem;
  }

  nav>ul>li>span::after {
    content: "";
    border: 0.4rem solid;
    border-color: inherit;
    position: absolute;
    top: 25%;
    left: 0.5rem;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    transform: translateY(calc(-50% + 1rem));
  }

  .hero {
    background-color: #262626;
    height: calc(100vh - 290px);
    display: flex;
    padding: 25px 0 0 25px;
    justify-content: space-between;
    color: #fafafa;
  }

  .hero>div:first-child {
    padding: 50px 0px 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .hero>div:last-child {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .hero>div>h1 {
    font-size: 3.75rem;
    font-weight: 600;
    white-space: pre-wrap;
    width: 90%;
  }

  .hero>div>p {
    font-size: 1.62rem;
    font-weight: 400;
    white-space: pre-wrap;
    width: 90%;
  }

  .hero>div>h2 {
    font-size: 2.43rem;
    font-weight: 500;
    white-space: pre-wrap;
    width: 90%;
  }

  .hero>div>button {
    width: 200px;
    height: 75px;
    /* border: 10px solid #fafafa; */
    background-color: #262626;
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 auto;
    cursor: pointer;
  }

  .button-89 {
    --b: 3px;
    /* border thickness */
    --s: .25em;
    /* size of the corner */
    --color: #fafafa;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #262626;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-89:hover,
  .button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }

  .button-89:active {
    background: var(--color);
    color: #fff;
  }

  .social-proof {
    background-color: #FFE600;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
}